<!doctype html>
<html lang="en">
  <head>
    <title>Vite - Tailwindcss</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/pages/homeNav/homeNav.js"></script>
  </head>
  <body>
    <!-- 사용시 주의점 -->
    <!-- nav 전의 box 에 mb-[3.75rem] class 꼭 추가! -->
    <nav
      class="fixed h-[3.75rem] border-t border-t-Contents-contentSecondary bottom-0 w-full px-3 pt-2 pb-2 bg-background"
    >
      <div class="flex justify-around text-sm font-normal">
        <div class="movePageHome flex-col text-center">
          <img src="/public/images/fullHome.svg" class="mx-auto mb-1" alt="" />
          <span class>홈</span>
        </div>
        <div class="movePageBoard flex-col items-center justify-center">
          <img src="/public/images/life.svg" class="mx-auto mb-1" alt="" />
          <span>게시판</span>
        </div>
        <div class="movePageLocation flex-col items-center justify-center">
          <img src="/public/images/map.svg" class="mx-auto mb-1" alt="" />
          <span>내 근처</span>
        </div>
        <div class="movePageChat flex-col items-center justify-center">
          <img src="/public/images/chat.svg" class="mx-auto mb-1" alt="" />
          <span>채팅</span>
        </div>
        <div class="movePageProfile flex-col items-center justify-center">
          <img src="/public/images/my.svg" class="mx-auto mb-1" alt="" />
          <span>나의 이듬</span>
        </div>
      </div>
    </nav>
  </body>
</html>
