<!doctype html>
<html lang="ko-KR">
  <head>
    <title>Vite - Tailwindcss</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/pages/template/template.js"></script>
  </head>
  <body>
    <nav>
      <ul
        class="flex gap-1 p-2 text-base font-semibold leading-4 top-11 bg-primary text-Contents-contentTertiary"
      >
        <li class="text-background mx-auto">
          <a href="/src/pages/story/">선배님 스토리</a>
        </li>
        <li class="mx-auto">
          <a class="" href="/src/pages/exchange/">기기 거래</a>
        </li>
        <li class="mx-auto">
          <a class="" href="/src/pages/story/">질의 응답</a>
        </li>
        <li class="mx-auto">
          <a class="" href="/src/pages/story/">같이 해요</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
